@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind의 유틸리티 클래스를 커스텀 클래스에 적용 */
@layer utilities {
  .nav_h {
    @apply pt-16;
  }

  .layout_px {
    @apply md:px-[10%] xl:px-[15%] 2xl:px-[20%];
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Opera */
  }
}

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@font-face {
  font-family: "TTLaundryGothicB";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2403-2@1.0/TTLaundryGothicB.woff2")
    format("woff2");
  font-weight: 700;
  font-style: normal;
}

body {
  font-family: "TTLaundryGothicB", sans-serif;
}
